{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Cooperativas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/bootstrap/css/style.css' %}" />
</head>

{% load crispy_forms_tags %}

<body>

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mx-auto">VEPROAFA - Cooperativa</span>
</nav>

<div class="row justify-content-center corretor corretor-card">

    <div class="col-10">

        <div class="card ">
            <div class="card-header">
                <h3 class="card-title">Cadastro de Cooperativa</h3>
            </div>
            <div class="card-body">
                <form action="{% url 'cooperativa_create' %}" method="post">
                    {% csrf_token %}
                    {{formCooperativa|crispy}}
                    {{formTelefone|crispy}}
                    {{formEndereco|crispy}}
                    <div class="form-group row">
                        <label for="texto" class="col-sm-2 col-form-label"><font color="red">ATENÇÃO</font></label>
                        <div class="col-sm-10">
                            <textarea readonly class="form-control-plaintext" id="texto" style="color:red" rows="5" readonly>As informações em questão passaram por um período de avaliação que pode durar entre 3 a 15 dias, dentro desse período é possível que entremos em contato com você, enviaremos as credênciais de acesso no seu e-mail por isso fique atento a ele.
                            </textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>

    </div>

</div>

<script src="{% static '/bootstrap/js/jquery-3.4.0.min.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>